/* ---- reset ---- */

body {
  margin: 0;
  font: normal 75% Arial, Helvetica, sans-serif;
  width: 100vw;
  height: 100vh;
}

canvas {
  display: block;
  /* vertical-align: bottom; */
}

/* ---- particles.js container ---- */

#particles-js {
  position: absolute;
  width: 100vw;
  height: 100vh;
  /* background-color: #404040; */
  background-image: url(./imgs/city.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /* opacity: 0.8; */
  /* background-position: 50vw 50vh; */
  z-index: 100;
}

#inside {
  position: absolute;
  z-index: 10;
  margin: 0 auto;
  margin-left: 300px; 
}







@media only screen and (max-width: 700px) {
  
  a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
    font-size: 2rem;
}
  
}

