#about {
    @include elementsHeightWidth (100vh, 100vw);
    // background-color: $color4;

    // background-image: $gradient-bottom-left-2;
    background-color: rgba($color: $color5, $alpha: 0.6);
    position: relative;
    .about_me_text {
        text-align: justify;
        width: 65vw;
        position: absolute;
        right: 0;
        top: 5vh;
        font-size: 0.7rem;
        background-color: rgba(255, 255, 255, 0.932);
        padding: 2rem;
        color: rgb(0, 0, 0);
            p {
                font: 0.8rem;
            }
            .intro_text_name {
                color: rgb(0, 0, 0);
                font-weight: 600;
                font-size: 1.2rem;
                letter-spacing: 7px;
                text-shadow: -2px -1px #00fbffc2;
            }
            .intro_text_tech {
                color: rgb(0, 0, 0);
                font-size: 1.1rem;
                text-shadow: -2px -1px #ff0000c2;
            }
            .about_icons {
                color: rgba(255, 0, 0, 0.342);
                text-shadow: -2px -1px #03f4fc70;
                padding: 5px;
                margin-bottom: 2vh;
                    .fab, .fas {
                        font-size: 2rem;
                        
                    }
        }
        hr {
            background-color: black;
        }

    }
}

