#home {
    @include elementsHeightWidth (100vh, 100vw);
    background-image: url(https://media.giphy.com/media/kjQ2DIoWpz76U/giphy.gif);
    background-color: rgb(255, 255, 255);
    // margin-top: 5vh;
        .vertical_navbar{
            z-index: 7777;
            width: 10vw;
            height: 100vh;
            position: fixed;
            padding-top: 50%;
                a {
                    font-size: 1.5rem;
                    font-weight: 100;
                    color: rgb(126, 122, 122); 
                    display: block; /* Make the links appear below each other */
                    padding: 20px; 
                    text-decoration: none;
                    text-shadow: -2px -1px #00fbff;
                } :hover {
                    letter-spacing: 2px;
                    transform: rotate(20deg);
                    transition: ease-in-out 0.5s;
                    color: rgb(255, 0, 0);
                    // background-color: rgba(214, 60, 60, 0.112); /* Dark grey background on mouse-over */
                }
        }
        // .intro_gif {
        //     img {
        //         padding-top: 70%;
        //         animation: spin 30s infinite alternate-reverse;
        //     }
        // }
        // img {
        //     height: 60vh;
        //     margin-top: 15vh;
        //     margin-left: 20vw;
            
            
        // }
}

@keyframes spin {
    0%  {-webkit-transform: rotate(0deg);}
    100% {-webkit-transform: rotate(720deg);}   
}
