#home {
    @include elementsHeightWidth (100vh, 100vw);
    // @include bckgFullScreen (url(https://images.unsplash.com/photo-1566883497053-3666f2141bec?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60));
    // @include bckgFullScreen (url(https://media.giphy.com/media/3oEdv1GbekAakxXO8g/giphy.gif))
    background-blend-mode: soft-light;
    // background-color: rgba($color: $color1, $alpha: 0.6);
    background-image: url(https://media.giphy.com/media/l41YeHIAtnC6iTYPe/giphy.gif);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: auto;

    
        .vertical_navbar{
            z-index: 1;
            width: 20vw;
            background-color: rgba($color: $color1, $alpha: 0.2);
            height: 100vh;
            position: fixed;
            padding-top: 50%;
            padding-left: 5vw;
                a {
                    font-size: 1.2rem;
                    font-weight: 100;
                    color: rgba($color: $color5, $alpha: 0.8);
                    display: block; /* Make the links appear below each other */
                    padding-left: 2vw;
                    text-decoration: none;
                } :hover {
                    font-size: 1.8rem;
                    transform: rotate(20deg);
                    transition: ease-in-out 0.2s;
                    color: $color1;
                }
                .icon_text {
                    position:relative;
                    bottom: 10px;
                    font-size: 1rem;
                    visibility: hidden;
                } :hover {
                    visibility: visible;
                    color: black;
                    font-size: 2rem;
                    transition: ease-in-out 0.2s;

                }
        }

        article {
            // padding-left: 20vw;
            // padding-top: 10vh;
            text-align: center;
            p {
                margin: 0;
            }
            .intro_text {
                .logo {
                    font-size: 3rem;
                    font-family: 'Libre Barcode 128 Text', cursive;
                    background: -webkit-linear-gradient($color3, $color5); // text gradient
                    background-clip: text;
                    -webkit-background-clip: text;  // text gradient
                    -webkit-text-fill-color: transparent;  // text gradient
                    padding-top: 5vh;
                }
                .intro_text_name {
                    color: rgba($color: $color5, $alpha: 1);
                    font-weight: 900;
                }
                .intro_description {
                    font-family: 'Cutive Mono', monospace;
                    font-size: 0.8rem;
                    // background-color: rgba($color: $color5, $alpha: 0.2);
                }
            }
        }
}
// @keyframes spin {
//     0%  {-webkit-transform: rotate(0deg);}
//     100% {-webkit-transform: rotate(720deg);}   
// }
// animation: spin 30s infinite alternate-reverse;
