@mixin elementsHeightWidth ($height, $width) {
    height: $height;
    width: $width;
}
@mixin bckgFullScreen ($url) {
    background-image: $url;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
@mixin bottomShadow {
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
}
@mixin topBottomShadow {
    -webkit-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.15);
    box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.15);
}