#projects {
    @include bckgFullScreen (url(https://images.pexels.com/photos/3815729/pexels-photo-3815729.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260-txt-3.jpg));
    // -webkit-box-shadow: 0px 0px 52px 52px rgba(0,0,0,0.67);
    // -moz-box-shadow: 0px 0px 52px 52px rgba(0,0,0,0.67);
    // box-shadow: 0px 0px 52px 52px rgba(0,0,0,0.67);



    -webkit-box-shadow: 0px 0px 71px 16px rgba(0,0,0,0.39);
-moz-box-shadow: 0px 0px 71px 16px rgba(0,0,0,0.39);
box-shadow: 0px 0px 71px 16px rgba(0,0,0,0.39);

    .projects_list{
        
        display: flex;
        flex-direction: column;
        padding-top: 30vh;
        div {
            display: flex;
            flex-direction: column;
            padding: 10vw;
            // width: 80vw;
            
            background-color: rgba(171, 241, 250, 0.4);
            
            margin-bottom: 20px;
            margin-left: 10vw;

            font-size: 0.8rem;
            padding: 2rem;
            a {
                font-size: 0.8rem;
                color: white;
                padding: 1rem;
            }
            video {
                height: 200px;
                width: auto;
                outline: none;
            }

            // -webkit-box-shadow: 0px 0px 40px 1px rgba(0,0,0,0.67);
            // -moz-box-shadow: 0px 0px 40px 1px rgba(0,0,0,0.67);
            // box-shadow: 0px 0px 40px 1px rgba(0,0,0,0.67);
        }

    }
    
}