$mainTextColor : rgba(0, 0, 0, 0.9);
$navLinkColor : rgba(67, 67, 67, 0.5);


/* RGB */
$color1: rgba(254, 123, 115, 1);
$color2: rgba(16, 17, 14, 1);
$color3: rgba(255, 255, 255, 1);
$color4: rgba(108, 194, 195, 1);
$color5: rgba(233, 208, 68, 1);

/* GRADIENT */
$gradient-top: linear-gradient(0deg, #fe7b73ff, #10110eff, #ffffffff, #6cc2c3ff, #e9d044ff);
$gradient-right: linear-gradient(90deg, #fe7b73ff, #10110eff, #ffffffff, #6cc2c3ff, #e9d044ff);
$gradient-bottom: linear-gradient(180deg, #fe7b73ff, #10110eff, #ffffffff, #6cc2c3ff, #e9d044ff);
$gradient-left: linear-gradient(270deg, #fe7b73ff, #10110eff, #ffffffff, #6cc2c3ff, #e9d044ff);
$gradient-top-right: linear-gradient(45deg, #fe7b73ff, #10110eff, #ffffffff, #6cc2c3ff, #e9d044ff);
$gradient-bottom-right: linear-gradient(135deg, #fe7b73ff, #10110eff, #ffffffff, #6cc2c3ff, #e9d044ff);
$gradient-top-left: linear-gradient(225deg, #fe7b73ff, #10110eff, #ffffffff, #6cc2c3ff, #e9d044ff);
$gradient-bottom-left: linear-gradient(315deg, #fe7b73ff, #10110eff, #ffffffff, #6cc2c3ff, #e9d044ff);
$gradient-radial: radial-gradient(#fe7b73ff, #10110eff, #ffffffff, #6cc2c3ff, #e9d044ff);






// background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
// background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
// background-image: linear-gradient(to top, #d5dee7 0%, #ffafbd 0%, #c9ffbf 100%);
// background-image: linear-gradient(-225deg, #FFFEFF 0%, #D7FFFE 100%);
// background-image: linear-gradient(-225deg, #E3FDF5 0%, #FFE6FA 100%);
// background-image: linear-gradient(-225deg, #B7F8DB 0%, #50A7C2 100%);
// background-image: linear-gradient(315deg, #feae96 0%, #fe0944 74%);
// background-image: linear-gradient(315deg, #08AEEA 0%, #2AF598 53%, #ffffff 100%);
