@import './variables';
@import './mixins';
@import './home';
@import './about';
@import './work';
@import './contact';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;
    }

body {
    color: $mainTextColor;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;

    }

// font-family: 'Roboto', sans-serif;
// font-family: 'Cutive Mono', monospace;
// font-family: 'Arizonia', cursive;
// font-family: 'Libre Barcode 128 Text', cursive;
