/* RGB */
/* GRADIENT */
#home {
  height: 100vh;
  width: 100vw;
}

#home .home_navbar {
  background-color: rgba(255, 255, 255, 0.9) !important;
  font-family: sans-serif;
  font-weight: 100;
  font-size: 0.9rem;
  text-align: center;
  padding: 2vh;
}

#home .home_navbar .navbar-nav .nav-item,
#home .home_navbar .navbar-nav span {
  color: #10110e !important;
  padding-left: 1vw;
}

#home .home_logo {
  z-index: 999;
  font-family: "Montserrat";
  text-align: center;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  letter-spacing: 1px;
}

#home .home_logo h1 {
  background-image: url(https://media.giphy.com/media/3o6ZsVGl3vuG5g0Kic/giphy.gif);
  background-size: cover;
  background-position: center;
  color: transparent;
  background-clip: border-box;
  -moz-background-clip: text;
  -webkit-background-clip: text;
  text-transform: uppercase;
  font-size: 120px;
  line-height: 0.75;
  margin: 10px 0;
  padding-left: 1vh;
}

#home .home_logo .intro_text {
  line-height: 1rem;
  color: rgba(108, 194, 195, 0.7);
  font-family: sans-serif;
  font-weight: 100;
  letter-spacing: 8px;
  font-size: 0.7rem;
  margin-top: 1vh;
  padding-left: 1vw;
}

#about {
  height: 100vh;
  width: 100vw;
  position: relative;
}

#about .intro_triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0vh 0vh 50vh 100vw;
  border-color: transparent transparent transparent white;
  line-height: 0px;
}

#about .about_me_text {
  text-align: justify;
  border-radius: 5px;
  width: 70vw;
  position: absolute;
  top: 10vh;
  font-size: 0.7rem;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 4vh;
  color: #10110e;
  font-size: 0.8rem;
  font-family: 'Roboto', sans-serif;
  -webkit-box-shadow: 10px 10px 9px -2px rgba(0, 0, 0, 0.1);
  box-shadow: 10px 10px 9px -2px rgba(0, 0, 0, 0.1);
}

#about .about_me_text .about_icons {
  text-align: center;
}

#about .about_me_text .about_icons .fab, #about .about_me_text .about_icons .fas {
  background: -webkit-linear-gradient(white, #6cc2c3);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.5rem;
  padding: 2vh 0.5vw;
}

#about .about_me_text hr {
  background-color: white;
}

#work {
  height: 100vh;
  width: 100vw;
  position: relative;
  color: #10110e;
}

#work .work_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#work .work_container .project_section {
  height: 20vh;
  width: 30vw;
  margin: 5vh 2vw;
  background-color: rgba(33, 139, 155, 0.071);
  -webkit-box-shadow: 10px 10px 9px -2px rgba(0, 0, 0, 0.1);
  box-shadow: 10px 10px 9px -2px rgba(0, 0, 0, 0.1);
}

#contact {
  height: 100vh;
  width: 100vw;
  background-image: url(/imgs/black_leaves.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

#contact .contacts_container {
  background-color: white;
  -webkit-box-shadow: 0px 10px 10px -2px rgba(0, 0, 0, 0.09);
  box-shadow: 0px 10px 10px -2px rgba(0, 0, 0, 0.09);
  padding-top: 15vh;
  padding-bottom: 5vh;
  text-align: center;
}

#contact .contacts_container .contacts_image {
  height: 300px;
  -webkit-transform: rotate(20deg);
          transform: rotate(20deg);
  border-radius: 50%;
  animation: spin 10s infinite alternate-reverse;
}

#contact .contacts_container .fab,
#contact .contacts_container .fas {
  font-size: 4rem;
  color: rgba(16, 17, 14, 0.9);
  padding: 0 10px;
  text-align: center;
}

#contact .contacts_container .location_text {
  font-size: 0.6rem;
  font-weight: 100;
  margin: 0;
  padding: 2vh;
  text-align: center;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(20deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(20deg);
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 100%;
}

body {
  color: rgba(0, 0, 0, 0.9);
  font-size: 11px;
  font-family: 'Roboto', sans-serif;
}
/*# sourceMappingURL=styles.css.map */