/* RGB */
/* GRADIENT */
#home {
  height: 100vh;
  width: 100vw;
}

#home .home_navbar {
  background-color: white !important;
  font-family: sans-serif;
  font-weight: 100;
  font-size: 0.9rem;
  text-align: center;
  padding: 3vh;
}

#home .home_navbar .navbar-nav .nav-item, #home .home_navbar .navbar-nav span {
  color: #10110e !important;
  padding-left: 3vw;
}

#home .home_logo {
  z-index: 999;
  font-family: "Montserrat";
  text-align: center;
  color: #FFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  letter-spacing: 1px;
}

#home .home_logo h1 {
  background-image: url(https://media.giphy.com/media/3o6ZsVGl3vuG5g0Kic/giphy.gif);
  background-size: cover;
  background-position: center;
  color: transparent;
  background-clip: border-box;
  -moz-background-clip: text;
  -webkit-background-clip: text;
  text-transform: uppercase;
  font-size: 120px;
  line-height: .75;
  margin: 10px 0;
}

#home .home_logo div {
  width: 380px;
  height: 2px;
  background-color: rgba(254, 123, 115, 0.7);
}

.logo {
  font-size: 2rem;
  letter-spacing: 3px;
  font-family: 'Libre Barcode 128 Text', cursive !important;
  background: -webkit-linear-gradient(#10110e, #6cc2c3);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0.4;
  margin: 4vh 0;
}

#about {
  height: 100vh;
  width: 100vw;
  position: relative;
}

#about .intro_triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0vh 0vh 50vh 100vw;
  border-color: transparent transparent transparent white;
  line-height: 0px;
}

#about .about_me_text {
  text-align: justify;
  border-radius: 5px;
  width: 70vw;
  position: absolute;
  top: 10vh;
  font-size: 0.7rem;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 4vh;
  color: #10110e;
  font-size: 0.8rem;
  font-family: 'Roboto', sans-serif;
  -webkit-box-shadow: 10px 10px 9px -2px rgba(0, 0, 0, 0.1);
  box-shadow: 10px 10px 9px -2px rgba(0, 0, 0, 0.1);
}

#about .about_me_text .about_icons {
  text-align: center;
}

#about .about_me_text .about_icons .fab, #about .about_me_text .about_icons .fas {
  background: -webkit-linear-gradient(white, #6cc2c3);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.5rem;
  padding: 2vh 0.5vw;
}

#about .about_me_text hr {
  background-color: white;
}

#work {
  height: 100vh;
  width: 100vw;
  position: relative;
  color: #10110e;
}

#work .projects_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 10vh;
}

#work .projects_list div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10vw;
  background-color: rgba(33, 139, 155, 0.071);
  margin-bottom: 20px;
  margin-left: 15vw;
  font-size: 0.8rem;
  padding: 2rem;
  -webkit-box-shadow: 10px 10px 9px -2px rgba(0, 0, 0, 0.1);
  box-shadow: 10px 10px 9px -2px rgba(0, 0, 0, 0.1);
}

#work .projects_list div a {
  font-size: 0.9rem;
  padding: 1rem;
  text-decoration: none;
  font-size: 2rem;
}

#work .projects_list div .fab {
  color: #215e6e;
}

#contact {
  height: 100vh;
  width: 100vw;
  background-attachment: white;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 100%;
}

body {
  color: rgba(0, 0, 0, 0.9);
  font-size: 11px;
  font-family: 'Roboto', sans-serif;
}
/*# sourceMappingURL=styles.css.map */